version: "3"

services:
  raffinerie:
    build: .
    ports:
      - "${PORT_RAFFINERIE}:${PORT_RAFFINERIE}"
    depends_on:
      - depth
    env_file:
      - .env

  depth:
    build:
      context: .
      dockerfile: ./services/visual_services/depth/Dockerfile
      args:
        INTERNAL_PORT: ${PORT_DEPTH}
    ports:
      - "${PORT_DEPTH}:8080"
    env_file:
      - .env