version: "3"

services:
  raffinerie:
    build: ./raffinerie_api
    ports:
      - "8000:8000"
    depends_on:
      - depth
      - caption

  depth:
    build: ./depth_repo
    ports:
      - "8081:8080"

  caption:
    build: ./caption_repo
    ports:
      - "8082:8080"
