version: "3"

services:
  raffinerie:
    build: .
    container_name: ${RAFFINERIE_CONTAINER_NAME}
    ports:
      - "${PORT_RAFFINERIE}:${PORT_RAFFINERIE}"
    depends_on:
      - depth

  depth:
    build:
      context: ./services/visual_services/depth
      args:
        INTERNAL_PORT: ${PORT_DEPTH}
    container_name: ${RAFFINERIE_CONTAINER_NAME}
    ports:
      - "${PORT_DEPTH}:8080"