version: "3"

services:
  raffinerie:
    build: .
    ports:
      - "${PORT_RAFFINERIE}:${PORT_RAFFINERIE}"
    depends_on:
      - depth
      - pose
    env_file:
      - .env
    volumes:
      - ./shared:/shared

  depth:
    build:
      context: .
      dockerfile: ./services/visual_services/depth/Dockerfile
      args:
        INTERNAL_PORT: ${PORT_DEPTH}
    ports:
      - "${PORT_DEPTH}:8080"
    env_file:
      - .env
    volumes:
      - ./shared:/shared

  pose:
    build:
      context: .
      dockerfile: ./services/visual_services/pose/Dockerfile
      args:
        INTERNAL_PORT: ${PORT_POSE} 
    ports:
      - "${PORT_POSE}:8080"
    env_file:
      - .env
    volumes:
      - ./shared:/shared