version: "3"

services:
  raffinerie:
    build:
      context: .
      dockerfile: ./Dockerfile
    image: raffinerie
    ports:
      - "${PORT_RAFFINERIE}:${PORT_RAFFINERIE}"
    depends_on:
      - depth
      - pose
    env_file:
      - .env
    volumes:
      - ./shared:/shared

  depth:
    build:
      context: .
      dockerfile: ./services/visual_services/depth/Dockerfile
    image: raffinerie-depth
    ports:
      - "${PORT_DEPTH}:8080"
    env_file:
      - .env
    volumes:
      - ./shared:/shared
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: ["gpu"]

  pose:
    build:
      context: .
      dockerfile: ./services/visual_services/pose/Dockerfile
    image: raffinerie-pose
    ports:
      - "${PORT_POSE}:8080"
    env_file:
      - .env
    volumes:
      - ./shared:/shared
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: ["gpu"]
