services: 
  raffinerie:
    image: raffinerie
    ports:
      - "${PORT_RAFFINERIE}:${PORT_RAFFINERIE}"
    depends_on:
      - depth
      - pose
      - pointcloud
      - object_detection
      - mesh_3d
      - image_generation
    env_file:
      - .env
    volumes:
      - ./shared:/shared

  depth:
    image: raffinerie-depth
    ports:
      - "${PORT_DEPTH}:8080"
    env_file:
      - .env
    volumes:
      - ./shared:/shared
      - ./models/depth:/app/depth/repo/checkpoints
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: ["gpu"]

  pose:
    image: raffinerie-pose
    ports:
      - "${PORT_POSE}:8080"
    env_file:
      - .env
    volumes:
      - ./shared:/shared
      - ./models/pose:/models/pose
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: ["gpu"]

  pointcloud:
    image: raffinerie-pointcloud
    ports:
      - "${PORT_POINTCLOUD}:8080"
    env_file:
      - .env
    volumes:
      - ./shared:/shared
      - ./models/pointcloud/hf_cache/hub/models--lpiccinelli--unik3d-vitl:/root/.cache/huggingface/hub/models--lpiccinelli--unik3d-vitl
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: ["gpu"]

  object_detection:
    image: raffinerie-object-detection
    ports:
      - "${PORT_OBJECT_DETECTION}:8080"
    env_file:
      - .env
    volumes:
      - ./shared:/shared
      - ./models/object_detection:/app/models
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: ["gpu"]

  mesh_3d:
    image:
      raffinerie-mesh-3d
    ports:
      - "${PORT_MESH_3D}:8080"
    env_file:
      - .env
    volumes:
      - ./shared:/shared
      - ./models/mesh_3d:/app/local_triposr_model/
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: ["gpu"]
  image_generation:
    image: raffinerie-image-generation
    ports:
      - "${PORT_IMAGE_GENERATION}:8080"
    env_file:
      - .env
    volumes:
      - ./shared:/shared
      - ./models/image_generation:/app/models/
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: ["gpu"]
      