version: "3"

services:
  raffinerie:
    build:
      context: .
      dockerfile: ./Dockerfile
    image: raffinerie
    ports:
      - "${PORT_RAFFINERIE}:${PORT_RAFFINERIE}"
    depends_on:
      - depth
      - pose
      - pointcloud
      - object_detection
      - mesh_3d
    env_file:
      - .env
    volumes:
      - ./shared:/shared

  depth:
    build:
      context: .
      dockerfile: ./services/visual_services/depth/Dockerfile
    image: raffinerie-depth
    ports:
      - "${PORT_DEPTH}:8080"
    env_file:
      - .env
    volumes:
      - ./shared:/shared
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: ["gpu"]

  pose:
    build:
      context: .
      dockerfile: ./services/visual_services/pose/Dockerfile
    image: raffinerie-pose
    ports:
      - "${PORT_POSE}:8080"
    env_file:
      - .env
    volumes:
      - ./shared:/shared
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: ["gpu"]
  pointcloud:
    build:
      context: .
      dockerfile: ./services/visual_services/pointcloud/Dockerfile
    image: raffinerie-pointcloud
    ports:
      - "${PORT_POINTCLOUD}:8080"
    env_file:
      - .env
    volumes:
      - ./shared:/shared
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: ["gpu"]
  object_detection:
    build:
      context: .
      dockerfile: ./services/visual_services/object_detection/Dockerfile
    image: raffinerie-object-detection
    ports:
      - "${PORT_OBJECT_DETECTION}:8080"
    env_file:
      - .env
    volumes:
      - ./shared:/shared 
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: ["gpu"]
  mesh_3d:
    build:
      context: .
      dockerfile: ./services/visual_services/mesh_3d/Dockerfile
    image: raffinerie-mesh-3d
    ports:
      - "${PORT_MESH_3D}:8080"
    env_file:
      - .env
    volumes:
      - ./shared:/shared
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: ["gpu"]
